html {
	height: 100%;
	background-image: linear-grdient(#ff6161, #ff768c);
	background-repeat: no-repeat;
	font-family: sans-serif;
	color: #0f222d;
	background-size: auto;
}

.main {
	width: 400px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: auto;
}

h1 {
	text-align: center;
	color: #fff;
}

form {
	background-color: #fff;
	padding: 15px;
}
