html {
	height: 100%;
	background-image: linear-grdient(#ff6161, #ff768c);
	background-repeat: no-repeat;
	font-family: sans-serif;
	color: #0f222d;
	background-size: auto;
}

.main {
	width: 400px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: auto;
}

h1 {
	text-align: center;
	color: #fff;
}

form {
	background-color: #fff;
	padding: 15px;
}

input[type='text'] {
	width: 310px;
	height: 30px;
	outline: 0;
	border: none;
	font-size: 1.5em;
	background: #fff;
	color: #2f4f4f;
}

button {
	font-size: 1.5em;
	color: #53bdff;
	background-color: #fff;
	outline: 0;
	width: 50px;
}
